.cv{
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 1em 2em;
  font-size: 14px;
  line-height: normal;
}

.cv ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.cv li:before {
  content: '- '
}

.cv h1{
  margin: 0 auto;
  font-weight: normal;
}
.cv header{
  text-align: center;
}

.cv main table{
  font-size: inherit;
  width: 100%;
}

.cv main table td:nth-child(1){
  font-weight: bold;
  width: 85px;
}

.cv main table td:nth-child(3){
  font-weight: bold;
  width: 100px;
}

.cv main table td{
  vertical-align: top;
  padding: 2px 3px 3px 0;
}

.cv main table tr.other{
  font-size: 85%;
}

.cv main table td p{
  font-size: 10px;
  margin: 0;
}

/* location */
.cv main table td:nth-child(3){
  text-align: right;
}

.cv main table th{
  font-size: 15px;
  border-bottom: 1px rgb(51, 51, 51) solid;
  padding-top: 0.4em;
}

.cv footer{
  font-size: 85%;
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.cv a[href]::after{
  font-family: 'Glyphicons Halflings';
  content: "\e164";
  font-size: 0.6em;
  vertical-align: text-top;
  color: #BBBBBB;
}

@media print{
  .cv{
    margin: 0;
  }

  a[href]:after {
    content: none !important;
  }
}
