@font-face {
  font-family: raleway;
  src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: raleway;
  src: url(fonts/Raleway-SemiBold.ttf);
  font-weight: bold;
}
body{
  font-family: raleway, calibri, arial;
  margin: 0;
  background: #e2e1e0;
}
/* responsive a4paper width referencing bootstrap */
.a4paper{
  background: white;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box !important;
  width: 210mm;
  height: 294mm;
  position: relative;
  overflow: hidden;
}

@media screen{
  .a4paper{
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

@page{
  margin: 0;
}
